html,
body {
  cursor: url("s-logo.svg");
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  overscroll-behavior: none;
  font-family: "Teko", serif;
  font-weight: 400;
  background-color: var(--background);
  overflow: hidden;
}

/* Application */
section.app {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: auto;
  canvas {
    position: fixed;
    overflow: hidden;
    display: block;
  }
}
.breakpoint-mobile,
.breakpoint-mobileSmall {
  section.app {
    .blur {
      filter: unset;
      transition: filter 0.3s ease-in-out;
      &.blur-active {
        filter: blur(10px);
      }
    }
  }
}

/* Mouse Ball */
section.mouse-ball {
  font-weight: 400;
  color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  z-index: 99;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  will-change: transform;
  border: 1px solid var(--bright);
  /* TODO add mode? */
  /* mix-blend-mode: difference; */
  transition: width 0.1s ease-in-out, height 0.1s ease-in-out,
    background 0.3s ease-in-out, color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  img {
    transition: opacity 0.3s ease-in-out;
  }

}
